*{
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    background-image: url(../assets/images/banner-bk.jpg);
    height: 600px;
    color: aliceblue;
}
.header1{
    display: flex;
    color: aliceblue;
    justify-content: space-between;
}

.header2{
    margin: 100px;
    margin-right: 800px;
    padding-left: 150px;
}

.logo{
    padding-left: 50px;
    padding-top: 30px;
    width: 100px;
}

.title1_1{
    margin-top: 70px;
    padding-right: 100px;
}

h1{
    font-size: 70px;
}

.text_header{
    padding-top: 10px;
    line-height: 25px;
}

button{
    margin-top: 20px;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    color: black;
    background-color: aquamarine;
    font-weight:bold;
}

/* SECTION 1 */

.title_servicios{
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 50px;
}

.container_protection{
    justify-content: center;
    display: flex;
    text-align: center;
}

.protection{
    margin-left: 100px;
    margin-right: 100px;
}

/* SECTION 2 */

.container_information{
    background-image: -webkit-linear-gradient(-82deg, #ffffff 50%, aquamarine 50%);
    padding-bottom: 30px;
}

.information{
    display: flex;
    padding-top: 130px;
}

.information1{
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 420px;
}

.title_information{
    font-size: 40px;
    padding-bottom: 10px;
}

.img_information1{
    padding-top: 20px;
    padding-right: 150px;
}

.img_information2{
    padding-top: 20px;
    padding-left: 150px;
}

.information2{
    padding-top: 70px;
    padding-right: 200px;
    padding-left: 140px;
}

.button_information{
    background-color: black;
    color: #ffffff;
    border: none;
}

/* SECTION 3 */

.container_precios{
    text-align: center;
}

.title_precios{
    font-size: 40px;
    padding-top: 80px;
}

h3{
    font-size: 22px;
    padding-bottom: 50px;
    padding-top: 50px;
}

span{
    font-size: 100px;
}

.text_precios{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
}

.text_precios1{
    width: 350px;
    height: 470px;
    line-height: 35px;
}


.text_precios1_2{
    background-color:rgb(4, 23, 59);
    width: 350px;
    color: aliceblue;
    height: 470px;
    line-height: 35px;
    margin-left: 80px;
    margin-right: 80px;
}

.button_precio{
    margin-top: 40px;
    border-color: black;
    background-color:#ffffff ;
}

.button_precio1{
    margin-top: 40px;
    border: none;
}

/* ASIDE */
aside{
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    background-color: rgba(212, 212, 212, 0.973);
}

.clientes_logo{
    width: 280px;
}

/*CONTACTENOS*/

.contactenos{
    background-image: url(../assets/images/contact-bk.jpg);
    color: #ffffff;
    height: 704px;
    display: flex;
}

.information_contactenos {
    padding-top: 200px;
    padding-left: 200px;
    width: 500px;
    font-size: 18px;
    line-height: 40px;
}

.title_contactenos{
    font-size: 50px;
    padding-bottom: 20px;
}

.descripcion_contactenos{
    padding-bottom: 30px;
    line-height: normal;
}

.encuesta{
    padding-top: 200px;
    padding-left: 370px;
    font-size: 15px;
    color: aquamarine;
    line-height: 35px;
}


input{
    border: 1px solid aquamarine;
    background-color: transparent;
    border-radius: 3px;
    width: 230px;
    height: 30px;
    margin-right: 40px;
    margin-bottom: 20px;
    color: #ffffff;
}

.input1{
    display: flex;
}

textarea{
    border: 1px solid aquamarine;
    background-color: transparent;
    border-radius: 3px;  
    width: 500px;
    height: 100px;
    color: #ffffff;
}

.boton_encuesta{
    border: none;
    width: 500px;
}

/* FOOTER */
footer{
    background-color:rgb(4, 23, 59);
    color:#ffffff;
    padding-left: 100px;
    display: flex;
    padding-top: 30px;
    padding-bottom: 25px;
}

.marcas{
    padding-left: 1250px;
    justify-content: center;
}

.redes{
    background-color: #ffffff;
    border: none;
    margin-left: 10px;
    margin-top: -50px;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    justify-content: center;
}

.redes1{
    height: 20px;
}

@media screen and (max-width: 1279px) {
    /*HEADER*/
    h1{
        font-size: 50px;
        padding-right: 200px;
    }

    .text_header{
        font-size: 20px;
    }
    .header2{
        margin: 100px;
        margin-right: 400px;
        padding-left: 60px;
    }
    /*SECTION 1*/
    .title_servicios{
        font-size: 35px;
    }
    .protection{
        margin-left: 40px;
        margin-right: 40px;
    }
    /*SECTION2*/
    .container_information{
        padding-bottom: 80px;
    }
    
    .information1{
        padding-left: 150px;
        padding-right: 50px;
    }

    .img_information1{
        padding-top: 70px;
        width: 500px;
    }
    
    .img_information2{
        width: 500px;
    }

    .information2{
        padding-left: 30px;
        padding-right: 90px;
    }
    
    /*CONTACTENOS*/

    .clientes_logo{
        width: 200px;
    }

    .encuesta{
        padding-left: 100px;
    }

    /* FOOTER */
    .marcas{
        padding-left: 700px;
    }
}

@media screen and (max-width: 920px){
    /* HEADER  */
    h1{
        font-size: 40px;
        padding-right: 20px;
    }

    .header2{
        margin-right: 100px;
    }

    /* SECTION  */
    .title_information{
        font-size: 30px;
    }

    .information1{
        padding-left: 100px;
        padding-right: 10px;
    }
    .img_information1{
        width: 400px;
        padding-right: 50px;

    }

    .img_information2{
        width: 400px;
        padding-left: 50px;
    }

    /* SECTION3  */

    .text_precios1_2{
        margin-left: 20px;
        margin-right: 20px;
    }

    /* ASIDE */
    .clientes_logo{
        width: 140px;
    }

    .clientes_logo1{
        width: 80px;
    }
    .clientes_logo2{
        width: 130px;
    }

    /* CONTACTENOS */
    .information_contactenos{
        padding-left: 100px;
    }
    
    .title_contactenos{
        font-size: 30px;
    }

    .encuesta{
        padding-left: 100px;
    }

    textarea{
        width: 400px;
    }

    input{
        width: 180px;
    }

    .boton_encuesta{
        width: 400px;
    }

    /* FOOTER */
    .marcas{
        padding-left: 300px;
    }
}

@media screen and (max-width: 768px){
    /* SECTION2 */

    .img_information1{
        width: 300px;
    }

    .img_information2{
        width: 300px;
    }
    /* ASIDE */
    .clientes_logo{
        width: 140px;
    }

    .clientes_logo1{
        width: 70px;
    }
    .clientes_logo2{
        width: 120px;
    }
    /* CONTACTENOS */

    .contactenos{
        height: 600px;
    }

    .information_contactenos{
        font-size: 15px;
        padding-top: 100px;
    }

    .marcas{
        padding-left: 200px;
    }

    .encuesta{
        padding-top: 150px;
        padding-left: 60px;
    }
}