*{
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    background-image: url(../assets/images/banner-bk.jpg);
    height: 600px;
    color: aliceblue;
}
.header1{
    display: flex;
    color: aliceblue;
    justify-content: space-between;
}

.header2{
    margin: 100px;
    margin-right: 800px;
    padding-left: 150px;
}

.logo{
    padding-left: 50px;
    padding-top: 30px;
    width: 100px;
}

.title1_1{
    margin-top: 70px;
    padding-right: 100px;
}

h1{
    font-size: 70px;
}

.text_header{
    padding-top: 10px;
    line-height: 25px;
}

button{
    margin-top: 20px;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    color: black;
    background-color: aquamarine;
    font-weight:bold;
    border-color: aquamarine;
}

/* SECTION 1 */

.title_servicios{
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 50px;
}

.container_protection{
    justify-content: center;
    display: flex;
    text-align: center;
}

.protection{
    margin-left: 100px;
    margin-right: 100px;
}

/* SECTION 2 */

.container_information{
    background-color: aquamarine;
}

.information{
    display: flex;
}

.information1{
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 600px;
}

.title_information{
    font-size: 40px;
    padding-bottom: 10px;
}